body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #f2f2f2;
}
a {
    text-decoration: none;
}
h2,
p,
h3,
h4 {
    margin: 0;
}
fieldset {
    padding: 0;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
button {
    margin: 0px;
    padding: 0px;
}
.hidden {
    display: none;
}
.header-menu a {
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}
.header-menu span {
    line-height: 26px;
    color: #766357;
    font-weight: bold;
    text-align: right;
}
.reason {
    background-color: #81b3d2;
}
textarea:focus, input:focus{
outline: none;
}
.reason-descriptions h3 {
    font-size: 21px;
    color: white;
    text-align: center;
}
.reason-descriptions p {
    font-size: 14px;
    color: white;
    text-align: center;
}
.reason-illustration-item h4,
.reason-other-container .reason-descriptions h3 {
    font-size: 21px;
    color: black;
    text-align: center;
}
.reason-illustration-item p,
.reason-other-container .reason-descriptions p {
    font-size: 14px;
    color: #333333;
    text-align: center;
}
.background-map {
    background-image: url(../img/index/index-background-map.jpg);
    width: 100%;
    height: 747px;
    position: relative;
    z-index: -1;
}
.reason-other-container {
    background-color: #eeeeee;
    display: flex;
}
.purchase-offer h3 {
    font-size: 30px;
}
.purchise-info-button {
    font: inherit;
    background-color: #766357;
}
.purchise-info-button:hover {
    background-color: #614f46;
}
.purchise-info-button:active {
    background-color: #514038;
    color: rgba(254, 254, 254, 0.3)
}
.main-foother {
    background-color: RGBA(255, 255, 255, 0.9);
    display: flex;
    padding: 36px 100px 35px 132px;
}
.main-foother span {
    font: inherit;
    font-size: 21px;
    padding-top: 14px;
	font-weight: bold;
}
fieldset {
    border: none;
}
fieldset legend {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}
fieldset li,
.filter-range p,
.show-inner-result {
    color: #ffffff;
}
div .sort .search-result {
    font-size: 21px;
}
.sort p,
.sort a {
    font-size: 12px;
}
.sort a {
    text-decoration: underline dashed #81b3d2;
    color: rgba(0, 0, 0, 0.3);
}
.sort a:focus {
    color: #81b3d2;
    text-decoration: none;
}
.sort a:hover {
    color: #81b3d2;
}
.sort a:active {
    text-decoration: none;
    color: black;
}
.button-more-info:hover {
    background-color: #639dbe;
}
.button-more-info:active {
    background-color: #5295ba;
    color: #75abc6;
}
.button-booking:hover {
    background-color: #614f46;
}
.button-booking:active {
    background-color: #514038;
    color: #7a6c66;
}
.hostel-name {
    font-size: 21px;
    width: 234px;
    display: block;
    margin-bottom: 13px;
}
.hostel-name:hover {
    color: #81b3d2;
}
.hostel-name:active {
    border-bottom: none;
    color: #cfcfcf;
}
.type-price {
    display: flex;
    width: 190px;
    margin-bottom: 8px;
}
.type-price span {
    color: #333333;
    width: 104px;
}
.price {
    text-align: right;
}
.buttons-group button {
    color: white;
}
.button-more-info {
    background-color: #81b3d2;
}
.button-booking {
    background-color: #766258;
}
.numbers-rating {
    background-color: #f2f2f2;
    color: #666666;
    margin-top: 45px;
}
.show-search-result-button input {
    background color: #81b3d2;
    color: white;
}
.social a {
    background-color: #81b3d2;
}
.main-header {
    display: flex;
    width: 100%;
    background-color: white;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.main-navigation img {
    left: 50%;
    margin-left: -69px;
    position: absolute;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}
.promo-block {
    background-image: url(../img/index/main-back-img.jpg);
    padding-top: 75px;
    padding-bottom: 83px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
}
.reason-descriptions li {
    width: 400px;
}
.reason-descriptions {
    width: auto;
    padding-top: 160px;
    padding-bottom: 80px;
}
.main-navigation ul {
    padding: 10px 6%;
}
.header-menu li,
.header-menu span {
    width: 20%;
}
.main-navigation {
    width: 100%;
}
.header-menu li:nth-child(2) {
    margin-right: 20%;
}
.header-menu li:nth-child(3n),
.header-menu li:nth-child(4n) {
    text-align: right;
}
.reason {
    display: flex;
	height: 256px;
}
.reason .large-reason-descriptions h3 {
    color: #ffffff;
}
.reason .large-reason-descriptions p {
    color: #e2ecf4;
	font-size: 14px;
}
.large-reason-descriptions {
    color: white;
    padding-top: 44px;
    padding-bottom: 60px;
    width: 400px;
}
.large-reason-descriptions h3 {
    width: 157px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
    color: black;
	font-size: 21px;
}
.large-reason-descriptions p {
    width: 310px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
    color: #9c9c9c;
}
.reason-descriptions {
    display: flex;
    width: 100%;
    background-color: #ffffff;
}
.reason-image {
    width: 800px;
}
.purchase-offer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    flex-direction: column;
    background-color: #ffffff;
    position: relative;
}
.purchase-offer {
    padding: 55px 312px 0;
}
.purchase-offer h3 {
    padding: 0 50px;
}
.purchase-offer p {
    padding: 35px 70px 0;
    color: #b3b3b3;
    line-height: 24px;
    margin-bottom: 50px;
}
.purchase-offer button {
    width: 570px;
    padding: 32px 130px;
    color: white;
    font-size: 21px;
    font-weight: bold;
}
.current {
    padding: 0;
    margin: 0px;
    cursor: default;
}
.promo-block-inner {
    background-image: url(../img/inner/inner-background-img.jpg);
    display: flex;
    padding: 30px 73px 30px;
    margin: 0;
    justify-content: flex-start;
}
.promo-text {
    padding: 55px 0;
    background-color: #ffffff;
}
.promo-text slogan h2 {
    width: 445px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 32px;
}
.promo-text p {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
.checkboxes-container {
    display: flex;
    flex-direction: column;
}
.inner-filters legend {
    width: 200px;
}
.price-controls {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}
.price-controls p {
    border: 1px solid black;
    width: 130px;
}
.sort {
    display: flex;
    border-bottom: 1px solid;
    border-color: #e5e5e5;
    padding: 30px 70px 32px;
	background-color: #ffffff;
}
.search-result {
    width: 160px;
}
.sort-result-by-container {
    width: 365px;
    display: flex;
}
.sort-result-by-container p {
    width: 80px;
}
.sort-by-properties {
    display: flex;
}
.sort-by-properties a {
    display: block;
    width: 82px;
    text-align: center;
    margin-left: 35px;
}
.sort-direction {
    display: flex;
    width: 44px;
    margin-left: auto;
}
.arrow-up a,
.arrow-down a {
    display: block;
}
.arrow-up,
.arrow-down {
    width: 22px;
    justify-content: center;
}
.arrow-up {
    width: 20px;
    background-repeat: no-repeat;
    display: center;
    background-image: url(../img/icons/icon-up-dir.svg);
}
.arrow-up:focus, .arrow-up:active {
    background-image: url(../img/icons/icon-up-dir-active.svg);
}
.arrow-up:hover {
    background-image: url(../img/icons/icon-up-dir-hover.svg);    
}
.arrow-down {
    width: 20px;
    background-repeat: no-repeat;
    display: center;
    background-image: url(../img/icons/icon-down-dir.svg);
}
.arrow-down:focus, .arrow-down:active {
    background-image: url(../img/icons/icon-down-dir-activ.svg)
}
.arrow-down:hover {
    background-image: url(../img/icons/icon-down-dir-hover.svg);
}
.hostel {
    display: flex;
    border-bottom: 1px solid;
    border-color: #e5e5e5;
    padding-bottom: 30px;
    padding-top: 28px;
}
.visual-rating {
    width: 21px;
    background-image: url(../img/icons/star.svg);
    height: 17px;
    background-repeat: no-repeat;
}
.buttons-group a {
    color: white;
    padding: 5px 14px;
}
.social-container {
    margin-left: 255px;
    display: flex;
}
.foother-logo {
    display: flex;
    margin-left: auto;
    padding-top: 4px;
}
.creator-logo::after {
	content: "";
    position: absolute;
    width: 118px;
    height: 43px;
    background-image: url(../img/logo/htmlacademy-logo.svg);
	background-repeat: no-repeat;
	top: 40px;
	right: 75px
}
.social-container social-tw {
    background-image: url(../img/icons/tw-icon.svg);
    background-repeat: no-repeat;
    display: center;
}
.social-container .social {
    padding: 24px 23px;
    margin-left: 5px;
    background-color: #81b3d2;
}
.social-container .social:first-child {
    margin-left: 0;
}
.social-container a:hover {
    background-color: #639dbe;
}
.social-container a:active {
    background-color: #5295ba;
}
.registration-purchise-container {
    display: none;
    flex-wrap: wrap;
    padding: 54px 0;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 568px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
}
.registration-purchise {
    display: flex;
    justify-content: center;
    margin-bottom: 29px;
    font-weight: bold;
}
.registration-purchise label {
    display: block;
    width: 115px;
	padding-top: 10px;
}
.registration-purchise-container .registration-purchise input {
    width: 346px;
    border: none;
    background-color: #f2f2f2;
}
.registration-purchise input:hover {
    background-color: #eaeaea;
    background-image: url(../img/icons/calendar-icon-hover.svg);
}
.registration-purchise input:focus {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    background-image: url(../img/icons/calendar-icon-use.svg);
}
.number-of-customers-form {
    display: flex;
    width: 229px;
}
.show-search-result-button {
    padding: 0 auto;
    display: flex;
	justify-content: center
}
.show-search-result-button input {
    width: 458px;
    padding: 15px 190px;
    font-size: 21px;
    font-weight: bold;
    text-transform: inherit;
    background-color: #81b3d2;
    border: none; 
}
.show-search-result-button input:hover {
    background-color: #639dbe;
}
.show-search-result-button input:active {
    background-color: #5295ba;
    color: #85b5cd;
}
.filter-range {
    width: 330px;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: auto;
}
.filter-range-title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}
.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}
.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}
.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}
.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}
.range-controls {
    position: relative;
    margin-bottom: 32px;
}
.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}
.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
.range-toggle:hover {
    background: #1c4f80;
}
.range-toggle-min {
    left: 0;
}
.range-toggle-max {
    left: 80%;
}
.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}
.reason-illustration-item {
    position: relative;
}
.reason-illustration-item h4 {
    width: 110px;
    margin: 0 auto;
    text-align: center;
	margin-bottom: 24px;
}
.reason-illustration-item p {
    width: 295px;
    margin: 0 auto;
    text-align: center;
}
.reason-illustration-item h4::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 79px;
    background-color: inherit;
    background-repeat: no-repeat;
	bottom: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.reason-illustration-item:nth-of-type(1) h4::before {
	background-image: url(../img/icons/icon-house.svg);
}
.reason-illustration-item:nth-of-type(2) h4::before {
	background-image: url(../img/icons/food-icon.svg);
}
.reason-illustration-item:nth-of-type(3) h4::before {
	background-image: url(../img/icons/icon-gift.svg);
	left: 52%;
}
.minus-button,
.plus-button,
.number-of-person input {
    width: 38px;
    background-color: #f2f2f2;
    border: none;
    padding: 6px 0;
	font-weight: bold;
	text-align: right;
}
.social-tw {
    background-image: url(../img/icons/tw-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.social-tw:active {
    background-image: url(../img/icons/tw-icon%20-%20active.svg);
}
.social-fb {
    background-image: url(../img/icons/fb-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.social-fb:active {
    background-image: url(../img/icons/fb-icon%20-%20active.svg);
}
.social-yt {
    background-image: url(../img/icons/youtube-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.social-yt:active {
    background-image: url(../img/icons/youtube-icon%20-%20active.svg);
}
.foother-logo a {
    padding-top: 6px;
	padding-right: 100px;
}
.hostels-list {
    padding: 0 72px;
	background-color: #ffffff;
}
.open-product a {
    /* костыль */
    display: block;
    margin-top: 3px;
}
.open-product {
    width: 135px;
    display: block;
    height: 90px;
}
.open-product img {
    width: 100%;
    height: 100%;
    margin-top: 3px;
}
.hostel-info {
    margin-left: 25px;
    width: 259px;
}
.buttons-group {
    width: 258px;
    display: flex;
}
.button-more-info {
    width: 110px;
    margin-right: 6px;
}
.button-booking {
    width: 142px;
}
.hostel-rating {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    width: 105px;
    /* с расчетом до 5 звезд */
}
.visual-rating-container {
    width: 105px;
    display: flex;
}
.registration-purchise input {
    background-image: url("../img/icons/calendar-icon.svg");
	background-repeat: no-repeat;
	background-position: 96%;
	background-size: 21px 20px;
	padding: 11px 0 11px 11px;
}
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.type-checkboxes label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}
.type-checkboxes li {
    margin-top: 24px;
}
.type-checkboxes li label {
    width: 100px;
    padding-left: 45px;
}
.type-checkboxes label:before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    background-image: url(../img/icons/checkbox-off.svg);
    left: 0px;
    top: -5px;
}
.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    width: 23px;
    height: 19px;
    background-image: url(../img/icons/checkbox-on.svg);
    left: 0px;
    top: -5px;
}
.number-of-customers  {
    padding: 30px 54px 54px;
    display: flex;
    font-weight: bold;
}
.number-of-customers label {
    display: block;
    width: 78px;
    margin-right: 35px;
}
.number-of-person {
    width: 114px;
    display: flex;
}
.number-of-customers label:nth-child(3n) {
    text-align: right;
}
.minus-button, .plus-button {
    position: relative;
}
.minus-button::before {
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
}
.minus-button:hover::before, .minus-button:hover::after, .plus-button:hover::before, .plus-button:hover::after {
	background-color: black;
}
.minus-button:active::before, .minus-button:active::after, .plus-button:active::before, .plus-button:active::after {
	background-color: #7eb2d0;
}
.plus-button::before {
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
}
.plus-button::after {
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%);
    content: "";
    transform: rotate(90deg);
}
.menu-link:hover {
    color: #9ec4dc;
}
.menu-link:active {
    color: #bebebe;
}
.index-foother {
	content: "";
    position: absolute;
	width: 968px;
    bottom: -213%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes bounce {
  0% {
    transform: translateX(-2000px);
  }
  70% {
    transform: translateX(-300px);
  }
  90% {
    transform: translateX(-290px);
  }
  100% {
    transform: translateX(-285px);
  }
}
.registration-purchise-container-show {
    display: flex;
    animation: bounce 0.5s;
}
iframe {
    position: absolute;
}
.index-promo-block::after {
	background-image: url(../img/index/style-for-main-back-img.png);
	position: absolute;
	z-index: 1;
	content: "";
	top: 52.3%;
    left: 13.9%;
	width: 100%;
	height: 57px;
	background-repeat: no-repeat;
}