body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}
a {
  text-decoration: none;
}
h2, p, h3, h4 {
    margin: 0;
}
fieldset {
    padding: 0;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.hidden {
    display: none;
}
.header-menu a {
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}
.header-menu span {
    line-height: 26px;
    color: #766357;
    font-weight: bold;
}
.promo-text slogan, .promo-text p {
    text-align: center;
}
.reason {
    background-color: #81b3d2;
}
.reason-descriptions h3{
    font-size: 21px;
    color: white;
    text-align: center;
}
.reason-descriptions p{
    font-size: 14px;
    color: white;
    text-align: center;
}
.reason-illustration-item h4, .reason-other-container .reason-descriptions h3{
    font-size: 21;
    color: black;
    text-align: center;
}
.reason-illustration-item p, .reason-other-container .reason-descriptions p{
    font-size: 14;
    color: #333333;
    text-align: center;
}
.reason-other-container {
    background-color: #eeeeee;
}
.purchase-offer h3 {
    font-size: 30px;
}
.purchise-info-button {
    font: inherit;
    background-color: #766357;
}
.purchise-info-button:hover{
    background-color: #614f46;
}
.purchise-info-button:active{
    background-color: #514038;
    color: rgba(254, 254, 254, 0.3)
}
.registration-purchise-container input {
    font: inherit;
    background-color: #f2f2f2;
}
.main-foother {
    background-color: (253, 253, 253, 0.9);
}
.main-foother span {
    font: inherit;
    font-size: 21px;
}
.promo-block-inner {
    background-image: url("../img/inner/inner-background-img.jpg");
    background-repeat: no-repeat;
    background-position: top center;
}
fieldset {
  border: none;
}
fieldset legend{
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}
fieldset li, .range p, .show-inner-result {
    color: #ffffff;
}
div .sort .search-result {
    font-size: 21px;
}
.sort p, .sort a {
    font-size: 12px;
}
.sort a {
     border-bottom: 1px dashed #000080;
     color: rgba(0, 0, 0, 0.3);
}
.sort a:focus {
      border-bottom: none;
      color: #81b3d2;
}
.sort a:hover {
    color: #81b3d2;
}
.sort a:active {
    border-bottom: none;
    color: black;
}
.hostel-name {
    font-size: 21px;
}
.hostel-name:hover{
    color: #81b3d2;
}
.hostel-name:active {
    border-bottom: none;
    color: #cfcfcf;
}
.type-price span {
    color: #333333;
}
.buttons-group button {
    color: white;
}
.button-more-info {
    background-color: #81b3d2;
}
.button-booking {
    background-color: #766357;
}
.numbers-rating {
    background-color: #f2f2f2;
    color: #666666;
}
.show-search-result-button input {
    background color: #81b3d2;
    color: white;
}
.social a {
    background-color: #81b3d2;
}
.registration-purchise-container label {
    font-weight: bold;
}
.main-header {
    display: flex;
    width: 100%;
    background-color: white;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.main-navigation img {
  left: 50%;
    margin-left: -69px;
  position: absolute;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.promo-block{
    background-image: url(../img/index/main-back-img.jpg);
    padding-top: 75px;
    padding-bottom: 83px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
}
.reason-descriptions{
    width: 400px;
}
.reason-other-container{
    display:flex;
}
.reason-descriptions p{
    padding: 0 70px;
}
.reason-descriptions h3{
    padding: 140px;
}
.main-navigation ul{
    padding: 10px 6%;
}
.header-menu li, .header-menu span{
    width: 20%;
}
.main-navigation{
    width: 100%;
}
.header-menu li:nth-child(2){
    margin-right: 20%;
}
.promo-text p {
    padding-top: 40px;
}
.promo-text h2 {
    padding: 60px 380px 0;
}
.reason {
    margin-top: 56px;
    display: flex;
}
.large-reason-descriptions{
    color: white;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.large-reason-descriptions h3{
    padding: 50px 140px 0;
}
.large-reason-descriptions p{
    padding: 30px 60px 0;
}
.large-reason-descriptions p:last-child{
    padding-bottom: 40px;
}
.reason-descriptions {
    display: flex;
    width: 100%;
}
.reason-descriptions h4{
    padding: 162px 144px 0;
}
.reason-descriptions p{
    padding: 30px 57px 0;
}
.reason-image{
    width: 800px;
}
.reason-other-container .large-reason-descriptions h3 {
    color: black;
}
.reason-other-container .large-reason-descriptions p {
    color: #767676;
}
.purchase-offer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    flex-direction: column;
}
.purchase-offer {
    padding: 55px 312px 0;
}
.purchase-offer h3 {
    padding: 0 50px;
}
.purchase-offer p {
    padding: 35px 70px 0;
    color: #b3b3b3;
    line-height: 24px;
}
.purchase-offer button{
    margin: 50px 3px 0;
    width: 570px;
    padding: 32px 130px;
    color: white;
    font-size: 21px;
    font-weight: bold;
}
.current {
    padding: 0;
    margin: 0px;
}
.promo-block-inner {
    background-image: url(../img/inner/inner-background-img.jpg);
    display: flex;
    justify-content:flex-start;
    padding: 0;
    margin: 0;
}
.checkboxes-container {
    padding-left: 70px;
    width: 240px;
}
.checkboxes-container legend {
  padding: 27px 0 0;
}
.checkboxes-container li {
    padding-top: 32px;
}
.checkboxes-container li:last-child {
    padding-bottom: 35px;
}
.type-checkboxes li label{
    padding-left: 16px;
}
.price-form {
    width: 329px;
}
.price-form legend {
    padding: 27px 0 0;
}
.range {
    display: flex;
    flex-direction: row;
}
.range p{
    border: 1px solid black;
    width: 130px;
}
.sort {
    display: flex;
    border-bottom: 1px solid;
    border-color: #e5e5e5;
}
.search-result{
    width: 160px; 
    padding: 30px 0 33px 73px;
}
.sort p {
    padding-top: 40px;

}
.sort-by-properties {
    display: flex;
    flex-direction: row;
}
.sort-by-properties li {
    padding: 40px 15px 0 30px;;
}
.sort-by-properties li:first-child {
    padding-left: 40px;
}
.sort-direction {
    display: flex;
    flex-direction: row;
}
.arrow-up {
    background-image: url(../img/icons/icon-up-dir.svg);
    width: 20px;
    background-repeat: no-repeat;
    display: center;    
}
.arrow-down {
    background-image: url(../img/icons/icon-down-dir.svg);
    width: 20px;
    background-repeat: no-repeat;
    display: center; 
}
.hostel {
    display: flex;
}
.open-product {
    padding: 30px 0 30px 73px;
}